# Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png

# Generated plugin registrant
lib/generated_plugin_registrant.dart

# IntelliJ / Android Studio
.idea/
*.iml

# VS Code
.vscode/
.history/

# macOS
.DS_Store
**/Pods/
**/Podfile.lock
**/Flutter/ephemeral/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# Web
web/.dart_tool/
web/.firebase/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Coverage
coverage/

# Logs
*.log

# Env files
*.env
*.env.*
